<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <style>

        body {
            background-color: #CAF0F8;
            color: #0077B6;
            margin: 0;
            padding: 0;
            font-family: 'Arial', sans-serif;
            
        }
        a,h2{
            text-decoration: none;
            color: #90E0EF;
        }
        
        .movie-section {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        
        .movie-square {
            border: 1px solid #111;
            padding: 20px;
            margin-right:20px;
            margin-left:10px;
            margin-top:20px;
            width: 250px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #0077B6;
            transition: transform 0.2s ease-in-out;
            border-radius: 8px;
        }

        .poster-container {
            margin-top: 20px; 
            overflow: hidden;
            border-radius: 8px;
        }
        .poster-image {
            width: 100%;
            height: auto;
            border-radius: 8px;
        }
    </style>
</head>
<body>
    <h1>Search Results for "{{ query }}"</h1>
    <hr>

    
    <div class="movie-section">
        {{#each movies}}
            <div class="movie-square">
                <h1><a href="/movie/{{ this._id }}">{{ this.title }}</a></h1>
                <h2>Rating: {{ this.rating }}</h2>
                <div class="poster-container">
                    <img src="{{this.posterUrl}}" alt="{{this.title}}" class="poster-image">
                </div>
            </div>
        {{/each}}
    </div>
</body>
</html>
